html,
body {
  font-family: Inter, san-serif;  
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.app-logo {
  width: 180px;
  height: 50px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.login_signup_button {
  width: 75px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding-top: 4px;
  text-align: center;
}

.login-button {
  background-color: transparent;
}

.sign-up-button {
  color: white;
  background-color: #3B82F6;
  border-color: white;
}

.header-description {
  text-align: center;
  padding: 80px;
}

.header-title {
  font-size: 60px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.header-text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

footer {
  background-color: #1E293B;
  color: white;
  padding: 68px 0;
}

footer p {
  margin: 16px 0 0;
}

.feature-section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 150px auto;
  max-width: 1050px;
  margin-top: -20%;
  position: relative;
}

.feature-box {
  max-width: 300px;
  max-height: 160px;
  padding: 10px 20px 15px 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.connector {
  background-color: white;
  height: 600px;
  margin-top: -50%;
  background: linear-gradient(0deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(1px);
}

