.top-middle {
  text-align: center;
}

.App-logo {
  position: absolute;
  left: 100px;
  width: 180px;
  height: 50px;
}

.header-buttons {
  position: absolute;
  right: 100px;
  margin-top: -20px;
}

.header-buttons, .App-logo {
  display: inline-block;
  margin-top: 30px;
}

button {
  width: 70px;
  height: 30px;
  margin: 10px;
  border-radius: 4px;
}

.Login-button {
  background-color: white;
  border: none;
}

.Sign-up-button {
  color: white;
  background-color: #3B82F6;
  border-color: white;
}

.header-description {
  text-align: center;
  padding: 80px;
  text-align: center;
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: center;
}

.header-text {
  margin-top: -20px;
  font-size: 20px;
  font-weight: 400;
}

.footer-div {
  background-color: #1E293B;
  color: white;
  padding: 5px 0px 5px 30px;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.footer-text {
  left: 100px;
}

.inter-font {
  font-family: Inter;
}